In [12]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import Perceptron

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from time import time

In [14]:
#read data
df = pd.read_csv("train_dataset_train.csv")
df.head(5)

     id                                               name  groups
0  1034      ШОК-ЦЕНА Пена д/душа/бритья КУППЕР 200 мл АКС      10
1  1035                     Мин.вода Нагутская №26    0.5л       0
2  1036                Пельмени Домашние вес ПО Прямицино.      10
3  1037     ПЕЧЕНЬЕ ОВСЯНО-ГРЕЧНЕВОЕ ЭКО БОТ 4600508719365      10
4  1038  Спред растительно-жировой Масляничка 62% 170г ...      10

In [15]:
def prepare_data(data):
    X=data.str.split('.').map(lambda x: str(x)) #remove dots and converts to strings
      
    return X

In [16]:
#split samples
df=df
X_all = prepare_data(df.name)
y=df.groups
X_train, X_test, y_train, y_test = train_test_split(X_all, y, test_size=0.2, random_state=42)

In [17]:
# Extracting features from the training data using a sparse vectorizer
#vectorize all the data, but it could be done for training samples only

vectorizer = TfidfVectorizer(input='content')
X=vectorizer.fit_transform(X_all)

In [18]:
# Extracting features from the training data using a sparse vectorizer

X_tr = vectorizer.transform(X_train)#vectorizer.fit_transform(X_train)
# Extracting features from the test data using the same vectorizer
X_te = vectorizer.transform(X_test)


feature_names = vectorizer.get_feature_names_out()

In [19]:
feature_names.shape

(208441,)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf1 = OneVsRestClassifier(PassiveAggressiveClassifier())

clf1.fit(X_tr, y_train)

y_pred1 = clf1.predict(X_te)

print(' PassiveAgressive: ',recall_score(y_test, y_pred1, average='macro'))

In [ ]:
recall_score(y_test, y_pred2, average=None)#[0.99137735, 0.78043735, 0.83246073, 0.99212781, 0.98930966, 0.84974619, 0.90082645, 0.9727491 , 0.99323383]

In [ ]:
#read test data and predict
df_test = pd.read_csv("test_dataset_test.csv")
X_pred = prepare_data(df_test.name)

In [ ]:
#Preparing final model trained on all data and transform X_test
X = vectorizer.fit_transform(X_all)
X_pred = vectorizer.transform(X_pred)

In [ ]:
#train model an all data and predict on test
clf = clf1
clf.fit(X, y)
y_out = clf.predict(X_pred)

In [167]:
df_submission = pd.read_csv("sample_solution.csv")

In [168]:
df_submission.groups = y_out

In [170]:
df_submission.head(5)

      id  groups
0  10529      10
1  10530      10
2  10531      10
3  10532       0
4  10533      10

In [171]:
submission = 'submission_final.csv'
df_submission.to_csv(submission, index=False)